{% extends "mainLayout.html" %}

{% block content %}

    <!--Cadre choix activités-->
    <div class="activités">
        <!--Photo-->
        <div class="visuel">
            <div class="cadre_activités">
                
            </div>
        </div>
    
    </div>
   


 
   
    
     
 <!--¨Partie: "Les dernières activités-->
    <div id="dernieres_activites">
        <h2 class="titrepartie">Les dernières activités créées:</h2>
        {% for key, elm in activites %}
            <div class="carre-first">
                <div class="carre" onClick="ViewActivite({{elm.id}});"></div>
                <div class="cat_sport">{{elm.sport}}</div>
                
                <div class="date">{{elm.dateT}}</div>
                <div class="lieu">
                    <img src="images/localisation.svg" id="to" alt="Lieu">{{elm.ville}}        
                </div>                      
            </div>
        {% endfor %}
              

        
    </div>
    
        
    <!--Partie: recherche par sports-->
    <div id="rechercheparsports">
        <h2 class="titrepartie">Recherche par sports</h2>
        
            <div class="carre-first">
                <div class="carre"></div>
                <div class="cat_sport">Football</div>
                
                              
                
                
            </div>
            <div class="carre-first">
                <div class="carre"></div>
                <div class="cat_sport">Football</div>
                
                              
                
                
            </div>
       
    </div>
    
    <!--Partie: derniers inscrits-->
    <div id="derniers_inscrits">
        <h2 class="titrepartie">Les derniers inscrits</h2>
        <div class="carre-first">
                    <div class="membre"></div>
                    <div class="cat_sport">Golf</div>
                
                                    
                
                
                </div>
    
    </div>
<script>
function ViewActivite(idActivite){
    console.log(idActivite);
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "afficher_activite.php");
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "idActivite");
    hiddenField.setAttribute("value", idActivite);

    form.appendChild(hiddenField);


    document.body.appendChild(form);
    form.submit();
}
</script>
{% endblock %}

