<!DOCTYPE html>
<html>
    <head>
        {% block head %}
  <meta charset="utf-8">
  <title>Meet'n sport</title>
  <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="/projet_tutCurrent/jquery-ui-1.12.1.custom/jquery-ui.css">

  <script src="javascript/script.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
         <div class="menu">
            <nav>
                <ul>
                    <li><a class="accueil" id="focus" href="accueil.php">Accueil</a></li>
                    <li><a class="activites" href="activites.php">Les activités</a></li>
                    <li><a class="messagerie" href="messagerie.php">Messagerie</a></li>         
                    <li><a class="membres" href="membres.php">Les membres</a></li>
                    <li class="button"><a id="connexion">Connexion</a></li>    
                    <li class="button" id="inscription"><a>Inscription</a></li>
                </ul>
            </nav>
        </div>
          <p id="titre">Meet'n sport</p>
           
    <!--Image-->
    
    <img src="test.png" id="image_principale" alt="Image sport">
         <div id="dialogConnexion" title="Basic dialog">
        <form class="form-container">
            <div class="form-title"><h2>Connexion</h2></div>
            <div class="form-title" onblur="checkPseudo(this)">Pseudo</div>
            <input class="form-field" type="text" name="firstname" /><br />
            <div class="form-title">Mot de passe</div>
            <input class="form-field" type="password" name="mdp" /><br />
            <div class="submit-container">
                <input class="submit-button" type="submit" value="Me connecter" />
            </div>
        </form>
    </div>
        <div id="dialogInscription" title="Basic dialog">
            <form class="form-container" method="post" action="accueil.php" onsubmit="return verifForm(this)">
                <div class="form-title"><h2>Inscription</h2></div>
                <div class="form-title" onblur="checkPseudo(this)">Pseudo</div>
                <input class="form-field" type="text" name="pseudo" /><br />
                <div class="form-title">Mot de passe</div>
                <input class="form-field" type="password" name="mdp" /><br />
                <div class="form-title">Confirmation du mot de passe</div>
                <input class="form-field" type="password" name="mdp" /><br />
                <div class="form-title" onblur="verifMail(this)">Adresse mail</div>
                 <input class="form-field" type="text" name="email" /><br />
                <input type="checkbox" id="condbox" class="zoneDeSaisie" />
                <a href="conditions.html" target="_blank">J'accepte les conditions générales de vente.</a>
               
                <div class="submit-container">

                    <input class="submit-button" type="submit" value="S'inscrire" />
                </div>
            </form>
        </div>
        {% endblock %}
       {% block content %}{% endblock %}
        <div id="footer">
            {% block footer %}
            <!--Footer-->
            <footer>
                <ul>
                    <li><a id="office" href="office">Back office</a></li>       
                    <li><a id="legales" href="legales">Mentions légales</a></li>
                    <li><a id="accessibilite" href="accessibilite">Accessibilité</a></li>
                </ul>
            </footer>
    
            {% endblock %}
        </div>
    </body>
      <!--Script-->
    <script>

  $( function() {
    $( "#dialogConnexion" ).dialog({
      autoOpen: false,
        modal:true,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "drop",
        duration: 1000
      },
        position: {my: "top", at: "bottom", of: "#connexion"}
    });
      $('body').on('click', '.ui-widget-overlay', function(e){
  $('#dialogConnexion').dialog('close');
});
      
 $(".ui-widget-content").css("background-color", "transparent");
$(".ui-dialog").css("border", "0 none");
      $(".ui-dialog-titlebar").hide();
    $( "#connexion" ).on( "click", function() {
      $( "#dialogConnexion" ).dialog( "open" );
    });

    $( "#dialogInscription" ).dialog({
      autoOpen: false,
        modal:true,
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "drop",
        duration: 1000
      },
        position: {my: "top", at: "bottom", of: "#inscription"}
    });
      $('body').on('click', '.ui-widget-overlay', function(e){
  $('#dialogInscription').dialog('close');
});
      
 $(".ui-widget-content").css("background-color", "transparent");
$(".ui-dialog").css("border", "0 none");
      $(".ui-dialog-titlebar").hide();
    $( "#inscription" ).on( "click", function() {
      $( "#dialogInscription" ).dialog( "open" );
    });
  } );
        
        
        
         function surligne(champ, erreur)
{
   if(erreur)
      champ.style.backgroundColor = "#fba";
   else
      champ.style.backgroundColor = "";
}
    function verifForm(f)
{
   var pseudoOk = checkPseudo(f.pseudo);
   var mailOk = verifMail(f.email);
    var mdpOk = checkMdp(f.mdp);
   if(pseudoOk && mailOk && mdpOk )
      return true;
   else
   {
      alert("Veuillez remplir correctement tous les champs");
      return false;
   }
}
    function verifMail(champ)
{
   var regex = /^[a-zA-Z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$/;
   if(!regex.test(champ.value))
   {
      surligne(champ, true);
      return false;
   }
   else
   {
      surligne(champ, false);
      return true;
   }
}
    function checkPseudo(champ)
{
   if(champ.value.length < 2 || champ.value.length > 25)
   {
      surligne(champ, true);
      return false;
   }
   else
   {
      surligne(champ, false);
      return true;
   }
}
        
        function checkMdp(champ)
{
   if(champ.value.length < 6 || champ.value.length > 15)
   {
      surligne(champ, true);
      return false;
   }
   else
   {
      surligne(champ, false);
      return true;
   }
}
        
    </script>
</html>